@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {

  body {
    @apply bg-gray-50 text-gray-800;
  }
  
  button, label{
    @apply cursor-pointer;
  }

  .site-section {
    @apply p-4;
  }
  
  .menu-btn {
    @apply focus:opacity-100 focus:visible focus:w-max focus:h-auto

  }

  .hero-text {
    @apply text-4xl md:text-7xl font-black mb-4;
  }

  .header-text {
    @apply text-2xl md:text-5xl font-black mb-2;
  }

  .hero-section .img-cont {
    @apply absolute rounded-full overflow-hidden;
  }

  .img-cont img {
    @apply w-full h-full object-cover;
  }

  .cta {
    @apply bg-gray-700 text-gray-50 py-1 px-3 rounded-md transform hover:scale-105;
  }
  .SiteNav {

    ul {
      @apply absolute right-4 flex-col gap-6 bg-white rounded-md p-6 px-8 shadow-lg text-3xl font-black text-right capitalize opacity-0 invisible w-0 h-0 overflow-hidden;
      @apply md:relative right-0 flex md:flex-row md:bg-transparent md:items-center md:gap-4 md:opacity-100 md:visible md:w-max md:h-auto md:shadow-none md:p-0 md:font-bold md:text-sm text-gray-700 md:overflow-visible;
      @apply focus-within:opacity-100 focus-within:visible focus-within:w-max focus-within:h-auto;
    }
    li{
      @apply hover:text-gray-900;
  }
    
  }

  .form-group {
    @apply flex flex-wrap gap-4;
  }
  .form-control {
    @apply flex flex-col flex-grow;
  }
  .form-control label {
    @apply font-bold text-gray-600 mb-2;
  }
  .form-control input,
  .form-control textarea {
    @apply p-4 bg-gray-200 rounded-lg;
  }
  .form-control.check {
    @apply relative flex items-center justify-center cursor-pointer;
  }
  .form-control.check label {
    @apply m-0 w-full h-full p-4 text-center;
  }
  .form-control.check input {
    @apply absolute opacity-0;
  }
  .form-control.check input:checked ~ label{
    @apply border-opacity-0 text-gray-50 bg-gray-700;
  }
  .form-control.check label:hover {
    @apply border-opacity-100
  }
  .form-control.check label {
    @apply border-2 border-gray-600 border-opacity-30 rounded-lg;
  }
}